*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: antiquewhite;
}

html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
    overflow-x: hidden;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 0, 4);
    display: flex;
    align-items: center;
    justify-content: center;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(102, 255, 0);
    display: flex;
    align-items: center;
    padding: 30vw;
}

#box{
    height: 300px;
    width: 300px;
    background-color: blue;
}

#page3 h1 {
    color: black;
    font-weight: 500;
    font-size:40vw;
}

#page4{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 0, 4);
}